absl-py==0.13.0
alabaster==0.7.12
albumentations==0.4.3
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.1.0
Babel==2.7.0
backcall==0.2.0
bcrypt==3.1.7
bitstring==3.1.6
blis==0.4.1
blist==1.3.6
cached-property==1.5.2
cachetools==4.2.2
cairocffi==1.2.0
calamari-ocr==1.0.5
catalogue==2.0.4
certifi==2021.5.30
cffi==1.12.3
chardet==3.0.4
charset-normalizer==2.0.4
checksumdir==1.1.7
click==7.1.2
colorama==0.4.3
cppimport==18.11.8
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.3
Cython==0.29.13
dbus-python==1.2.16
deap==1.3.0
decorator==4.4.0
#distro-info===0.23ubuntu1
docopt==0.6.2
docutils==0.15.2
ecdsa==0.13.2
edit-distance==1.0.4
efficientnet==1.0.0
entrypoints==0.3
fastai==2.0.15
fastcore==1.0.20
fastprogress==1.0.0
flatbuffers==1.12
future==0.17.1
gast==0.2.2
gitdb2==3.0.2
GitPython==3.0.8
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.39.0
h5py==2.10.0
humanize==3.0.1
idna==3.2
image-classifiers==1.0.0
imageio==2.6.1
imagesize==1.1.0
imgaug==0.2.6
importlib-metadata==4.6.4
intervaltree==3.0.2
ipaddress==1.0.22
jedi==0.17.2
Jinja2==2.10.1
joblib==0.13.2
jsonpickle==1.3
Keras==2.3.1
Keras-Applications==1.0.8
keras-lookahead==0.9.0
Keras-Preprocessing==1.1.0
keyring==18.0.1
keyrings.alt==3.4.0
kiwisolver==1.1.0
liac-arff==2.4.0
llvmlite==0.36.0
lxml==4.5.0
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.2.2
mock==3.0.5
more-itertools==7.2.0
mpi4py==3.0.3
mpmath==1.1.0
munch==2.5.0
murmurhash==1.0.2
netaddr==0.7.19
netifaces==0.10.9
networkx==2.4
nose==1.3.7
numba==0.53.1
numpy==1.18.5
oauthlib==3.1.1
opencv-python==4.2.0.32
opencv-python-headless==4.2.0.32
opt-einsum==3.3.0
packaging==21.0
pandas==0.25.3
paramiko==2.6.0
parso==0.7.1
pathlib2==2.3.4
pathy==0.6.0
paycheck==1.0.2
pbr==5.4.3
pdf2image==1.13.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plac==1.1.3
pluggy==0.13.0
portalocker==1.7.0
portion==2.0.2
preshed==3.0.2
prettytable==0.7.2
prompt-toolkit==3.0.7
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.6.0
py==1.8.0
py-cpuinfo==5.0.0
py-expression-eval==0.3.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycairo==1.20.1
pycparser==2.19
pycrypto==2.6.1
pydantic==1.8.2
Pygments==2.4.2
PyGObject==3.36.0
PyNaCl==1.3.0
pyparsing==2.4.2
PySide2==5.15.0
pytest==5.1.2
python-apt==2.0.0+ubuntu0.20.4.5
python-bidi==0.4.2
python-dateutil==2.8.0
pytz==2019.2
pyvoronoi==1.0.5
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3
ranger-fm==1.9.3
recordclass==0.15.1
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.7.2
sacred==0.8.1
scandir==1.10.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.3.1
SecretStorage==2.3.1
segmentation-models==1.0.1
semantic-version==2.8.5
setuptools-scm==3.3.3
Shapely==1.7.0
shiboken2==5.15.0
six==1.16.0
skgeom==0.1.2
sklearn==0.0
smart-open==5.1.0
smmap2==2.0.5
snowballstemmer==1.9.1
sortedcontainers==2.2.2
spacy==3.1.1
spacy-legacy==3.0.8
SQLAlchemy==1.4.23
sympy==1.5.1
tabulate==0.8.7
tensorboard==2.1.1
tensorflow==2.0.0
tensorflow-determinism==0.3.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
tesserocr==2.5.2
thinc==8.0.8
tifffile==2020.9.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.47.0
typer==0.3.2
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.6
virtualenv==16.7.5
wasabi==0.8.2
wcwidth==0.1.7
Werkzeug==2.2.3
wquantiles==0.5
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.5.0
